@import "tailwindcss";

html {
  scroll-behavior: smooth;
  
}

body {
  background: #09090b;
  color: #fafafa;
  overflow-x: hidden;
  font-family: "Inter", sans-serif;
}

* {
  box-sizing: border-box;
}

::selection {
  background: #f97316;
  color: white;
}

img {
  -webkit-user-select: none;
  user-select: none;
}

.glass {
  background: rgba(24, 24, 27, 0.7);
  -webkit-backdrop-filter: blur(16px);
  backdrop-filter: blur(16px);
  border: 1px solid rgba(255, 255, 255, 0.08);
}

button,
a {
  transition: all 0.25s ease;
}

.glass {
  background: rgba(24, 24, 27, 0.7);
  -webkit-backdrop-filter: blur(16px);
  backdrop-filter: blur(16px);
  border: 1px solid rgba(255, 255, 255, 0.08);
}

.section {
  padding: 120px 24px;
}

.card {
  background: #18181b;
  border: 1px solid rgba(255, 255, 255, 0.08);
  border-radius: 24px;
}

.orange-gradient {
  background: linear-gradient(
    135deg,
    #f97316 0%,
    #fb923c 100%
  );
}